<body>
  <br>
  <br>
  <h1 style="color:white" align="center">GitHub Profile</h1>
  <div class="container">
    <div id="swara">
      <form class="form">
        <input type="text" class="form-control" placeholder="Search Username" [(ngModel)]="userName" name="userName" (keyup)="findUser()">

      </form>
    </div>
    <br>
    <br>

    <div class="card" *ngIf="user1">
      <!-- <div class="card-header">
        <span class="badge badge-warning" appHighlight><strong>user name:</strong>{{user1.login}}  </span>
        <span class="badge badge-warning"><strong>URL:  </strong> <a href="{{user1.html_url}}" target="_blank"><button class="btn-outline-danger">Check Github</button></a> </span>
        <span class="badge badge-warning"><strong>Member Since: </strong>{{user1.created_at| date:short:timezone}}</span>
      </div> -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <h2 class="name">  {{user1.name}} </h2>
            <p>
              This is an angular application whose main purpose is to search for a particular github user. One uses the username to search
              for the user which displays specific details such as the number of the repositories made by the person in the said profile, username,
              link to the github account of the searched individual.
            </p>
          </div>
          <div class="col-md-4">
            <img class="img-thumbnail" src="{{user1.avatar_url}}">
            <br>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="first">
          <span class="badge badge-warning" >{{user1.public_repos}} Public Repos</span>
          <span class="badge badge-warning">{{user1.followers}} Followers</span>
          <span class="badge badge-warning">{{user1.following}} Following</span>
        </div>
      </div>
    </div>
    <br>
    <br>

  </div>
</body>
