/* .badge {
  padding: 15px;
  margin: 10px;
}

.card-header {
  background-color: #A0522D;
  text-align: center;
  color: white;
  border: none;
}

.card-body {
  background-color: ##FFFFE0;
}

.card-footer {
  background-color: #A0522D;
  text-align: center;
  color: white;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-size: cover;
  background-image: url('/assets/git1.jpeg');
}

#swara {
    margin: auto;
    width: 60%;
    border: 0px solid #73AD21;
    padding: 10px;
} */
